{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %}Компании{% endblock %}

{% block content %}
<div class="container mt-3">
  <h2 class="my-3">Список организаций</h2>
  <div class="d-flex flex-column flex-md-row justify-content-between">
    <div class="mt-5">
      {% for company in page_object %}
        <p class="fs-5"><a href="{% url 'company_details' company.id %}">{{company}}</a></p>
      {% empty %}
        <h4>Список компаний пуст</h4>
      {% endfor %}
      {% include 'crm/pagination_block.html' %}
    </div>
    <div class="position-relative">
      <div class="d-flex flex-column mt-3 fs-5">
        <a class="btn btn-primary mt-5 fs-5" href="{% url 'company_add' %}">Добавить компанию</a>
      </div>
      <form class="mt-3" method="get">
        {{ search_form|crispy }}
        <input class="btn btn-outline-success mt-3" type="submit" value="Искать">
        <a class="btn btn-outline-dark mt-3 ms-2" href="{% url 'companies' %}">Сбросить</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}