{% extends 'base.html'%}

{% block title %}Описание мероприятия{% endblock %}

{% block content %}
<div class="fs-5">
  <p><b>Тип:</b> {{event.get_category_display}}</p>
  <p><b>Повестка:</b> {{event.description}}</p>
  <p><b>Рассматриваемые проекты:</b></p>
  <div class="d-flex flex-column pb-4">
    {% for project in event.projects.all %}
    <a href="{% url 'project_details' project.id %}">{{project.name}}</a>
    {% empty %}
    Список пуст
    {% endfor %}
  </div>
  <p><b>Результат:</b></p>
  {% if event.result is None %}
  <a href="{% url 'event_result_add' event.id %}">Добавить результат</a>
  {% else %}
  <p>{{ event.result }}</p>
  {% endif %}
  </div>
  <a class="btn btn-primary" href="{% url 'event_update' event.id %}">Обновить</a>
{% endblock %}
