{% extends 'base.html'%}

{% block title %}Описание мероприятия{% endblock %}

{% block content %}
<div class="fs-5">
  <p><b>Тип:</b> {{event.get_category_display}}</p>
  <p><b>Повестка:</b> {{event.description}}</p>
  <p><b>Рассматриваемые проекты:</b></p>
  <div class="d-flex flex-column pb-4">
    {% for project in event.projects.all %}
    <a href="{% url 'project_details' project.id %}">{{project.name}}</a>
    {% empty %}
    Список пуст
    {% endfor %}
  </div>
  <p>
    <b>Задачи:</b>
    <a class="btn btn-outline-dark ms-3 py-0" href="{% url 'event_task_add' event.id %}">Добавить задачу</a>
  </p>
    {% for task in event.tasks.all %}
      {% if task.statuses.last.status == 'NEW' %}
      <p>{{task.start_date.date}}, {{task.doer}} -  <a class="link-danger" href="{% url 'task_details' task.id %}">{{task.name}}</a>, завершить: {% if task.end_date.date <= cur_date %}
        <b><u>{{task.end_date}}</u></b>
     {% else %} 
        {{task.end_date.date}}
     {% endif %}</p>
      {% elif task.statuses.last.status == 'PROGRESS' %}
      <p>{{task.start_date.date}}, {{task.doer}} - <a class="link-warning" href="{% url 'task_details' task.id %}">{{task.name}}</a>, завершить: {{task.end_date}}</p>
      {% else %}
      <p>{{task.start_date.date}} {{task.doer}} - <a class="link-success" href="{% url 'task_details' task.id %}">{{task.name}}</a>, завершить: {{task.end_date}}</p>
      {% endif %}
    {% empty %}
       Нет задач
    {% endfor %}
  <p><b>Результат:</b></p>
  {% if event.result is None %}
  <a href="{% url 'event_result_add' event.id %}">Добавить результат</a>
  {% else %}
    <p>{{ event.result }}</p>
  {% endif %}
  </div>
  <a class="btn btn-primary" href="{% url 'event_update' event.id %}">Обновить</a>
{% endblock %}
