{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load shortest_company_name %}
{% load check_timespread %}
{% load undone_task_checker %}

{% block title %}Список проектов{% endblock %}

{% block content %}
<div class="container mt-3">
  <h2 class="text-center mt-3">Список проектов</h2>
  <div class="container d-flex flex-column flex-xl-row mt-5">
    <div class="container me-5 ">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">   </th>
            <th scope="col">Проект</th> <th scope="col">Компания</th>
            <th scope="col">Статус</th>
            <th scope="col">Последнее событие</th>
          </tr>      
        </thead>
        <tbody>
          {% for project in page_object %}
          <tr>
            {% if project.id|has_undone_tasks %}
              <td><i class="bi bi-exclamation-square text-danger"></i></td>
            {% else %}
              <td><i class="bi bi-check-square text-success"></i></td>
            {% endif %}
            <td><a href="{% url 'project_details' project.id %}">{{project.name}}</a></td>
            <td>{{ project.company.short_name|get_shortest_company_name }}</td>
            {% if project.summary == "" %}
            <td class='event-list'><a href="{% url 'project_summary_update' project.id %}">Добавить</a></td>
            {% else %}
            <td class="event-list"><a href="{% url 'project_summary_update' project.id %}">{{project.summary}}</a></td>
            {% endif %}
            {% if project.events.last.date %} 
                  {% if project.events.last.date|check_timespread %}
                    <td class="text-danger">{{project.events.last.date}}</td>
                  {% else %}
                    <td>{{project.events.last.date}}</td>
                  {% endif %}
            {% else %}
              <td>No events</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% include 'crm/pagination_block.html' %}      
    </div>
    <div class="position-relative">
      <div class="d-flex flex-column mt-3">
        <a class="btn btn-primary mt-5 fs-5" href="{% url 'project_add' %}">Добавить проект</a>
        <a class="btn btn-outline-secondary mt-3 fs-5" href={% url 'event_add' %}>Общее событие</a>
        {% if project_status == "" and company.id is None and project_deliver.id is None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'project_list_report' %}">Скачать отчет</a>
        {% elif project_status != "" and company.id is None and project_deliver.id is None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'status_project_list_report' project_status %}">Скачать отчет</a>
        {% elif project_status != "" and company.id is None and project_deliver.id is not None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'project_list_status_deliver_report' project_status project_deliver.slug %}">Скачать отчет</a>
        {% elif project_status != "" and company.id is not None and project_deliver.id is not None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'full_report' project_status project_deliver.slug company.id %}">Скачать отчет</a>
        {% elif project_status != "" and company.id is not None and project_deliver.slug is None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'project_list_status_company_report' company_id=company.id project_status=project_status %}">Скачать отчет</a>
        {% elif project_status == "" and company.id is not None and project_deliver.slug is None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'company_project_list_report' company_id=company.id %}">Скачать отчет</a>
        {% elif project_status == "" and company.id is None and project_deliver.slug is not None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'source_project_list_report' project_deliver_slug=project_deliver.slug %}">Скачать отчет</a>
        {% elif project_status == "" and company.id is not None and project_deliver.slug is not None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'source_company_report' project_deliver_slug=project_deliver.slug company_id=company.id %}">Скачать отчет</a>
        {% else %}
        <a class="btn btn-outline-success mt-3 fs-5" href="#">Скачать отчет</a>
        {% endif %}
          <form class="mt-4" method="post">
          {% csrf_token %}
          {{form|crispy}}
          <div class="d-flex justify-content-start">
            <input class="btn btn-outline-success mt-3" type="submit" value="Подобрать">
            <a class="btn btn-outline-dark mt-3 ms-3 " href="{% url 'projects' %}">Сбросить</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
