{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load shortest_company_name %}
{% load check_timespread %}
{% load undone_task_checker %}
{% load get_last_date %}

{% block title %}Список проектов{% endblock %}

{% block content %}
<div class="container mt-3">
  <h2 class="text-center mt-3">Список проектов</h2>
  <div class="container d-flex flex-column flex-xl-row mt-5">
    <div class="container me-5 ">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">   </th>
            <th class="event-list" scope="col"><a href="?order_by=name">Проект</a></th> 
            <th class="event-list" scope="col"><a href="?order_by=company">Компания</a></th>
            <th class="d-none col-lg-5 d-md-table-cell" scope="col">Состояние</th>
            <th class="d-none d-sm-table-cell event-list" scope="col"><a href="?order_by=event_date_rev">Последнее событие</a></th>
          </tr>      
        </thead>
        <tbody>
          {% for project in project_list %}
          <tr>
            {% if project.id|has_undone_tasks %}
              <td><i class="bi bi-exclamation-square text-danger"></i></td>
            {% else %}
              <td><i class="bi bi-check-square text-success"></i></td>
            {% endif %}
            <td><a href="{% url 'project_details' project.id %}">{{project.name}}</a></td>
            <td>{{ project.company_name|get_shortest_company_name }}</td>
            {% if project.summary == "" %}
            <td class='event-list col-lg-5 d-none d-md-table-cell'><a href="{% url 'project_summary_update' project.id %}">Добавить</a></td>
            {% else %}
            <td class='event-list col-lg-5 d-none d-md-table-cell'><a href="{% url 'project_summary_update' project.id %}">{{project.summary}}</a></td>
            {% endif %}
            {% if project.last_event_date %} 
                  {% if project.last_event_date|check_timespread %}
                    <td class='text-danger d-none d-sm-table-cell'>{{project.last_event_date}}</td>
                  {% else %}
                    <td class='d-none d-sm-table-cell'>{{project.last_event_date}}</td>
                  {% endif %}
            {% else %}
              <td class='d-none d-sm-table-cell'>Нет событий</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    <!--{% include 'crm/pagination_block.html' %}-->      
    </div>
    <div class="d-none d-xl-block">
    <div class="dposition-relative">
        <form class="mt-4" method="get">
          {{tags_form|crispy}}
          <div class="d-flex justify-content-start">
            <input class="btn btn-success mt-2 me-3" type="submit" value="Подобрать">
            <a class="btn btn-outline-dark mt-2" href="{% url 'projects' %}">Сбросить</a>
          </div>
        </form>
        <a class="btn d-block btn-outline-primary mt-3 fs-5" href="{% url 'project_add' %}">Добавить проект</a>
      <div class="d-flex flex-column">
        <!-- <a class="btn btn-outline-secondary mt-3 fs-5" href={% url 'event_add' %}>Общее событие</a>
        {% if project_status == "" and company.id is None and project_deliver.id is None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'project_list_report' %}">Скачать отчет</a>
        {% elif project_status != "" and company.id is None and project_deliver.id is None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'status_project_list_report' project_status %}">Скачать отчет</a>
        {% elif project_status != "" and company.id is None and project_deliver.id is not None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'project_list_status_deliver_report' project_status project_deliver.slug %}">Скачать отчет</a>
        {% elif project_status != "" and company.id is not None and project_deliver.id is not None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'full_report' project_status project_deliver.slug company.id %}">Скачать отчет</a>
        {% elif project_status != "" and company.id is not None and project_deliver.slug is None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'project_list_status_company_report' company_id=company.id project_status=project_status %}">Скачать отчет</a>
        {% elif project_status == "" and company.id is not None and project_deliver.slug is None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'company_project_list_report' company_id=company.id %}">Скачать отчет</a>
        {% elif project_status == "" and company.id is None and project_deliver.slug is not None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'source_project_list_report' project_deliver_slug=project_deliver.slug %}">Скачать отчет</a>
        {% elif project_status == "" and company.id is not None and project_deliver.slug is not None %}
        <a class="btn btn-outline-success mt-3 fs-5" href="{% url 'source_company_report' project_deliver_slug=project_deliver.slug company_id=company.id %}">Скачать отчет</a>
        {% else %}
        <a class="btn btn-outline-success mt-3 fs-5" href="#">Скачать отчет</a>
        {% endif %}
          <form class="mt-4" method="post">
          {% csrf_token %}
          {{form|crispy}}
          <div class="d-flex justify-content-start">
            <input class="btn btn-outline-success mt-3" type="submit" value="Подобрать">
            <a class="btn btn-outline-dark mt-3 ms-3 " href="{% url 'projects' %}">Сбросить</a>
          </div>
        </form>
      </div> -->
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="d-xl-none d-block mt-3 btn btn-primary fs-5 me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Меню</button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Выберите теги</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form class="mt-4" method="get">
          {{tags_form|crispy}}
          <div class="d-flex justify-content-start">
            <input class="btn btn-success mt-2 me-3" type="submit" value="Подобрать">
            <a class="btn btn-outline-dark mt-2" href="{% url 'projects' %}">Сбросить</a>
          </div>
        </form>
        <a class="btn btn-outline-primary mt-3 fs-5" href="{% url 'project_add' %}">Добавить проект</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
