{% extends 'base.html'%}
{% load my_thousand_separator cut_the_phrase %}
{% load crispy_forms_tags %}

{% block title %}Описание проекта{% endblock %}

{% block content %}
<h3 class="text-center">Карточка проекта</h3>
<div class="container mt-5 fs-5">
  <div class="accordion" id="project_data_accordion">
    <div class="accordion-item">
      <h3 class="accordion-header" id="data_headline">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#project_data" aria-expanded="false" aria-controls="project_data">
          <b class="fs-5">{{ project.name }} </b>
        </button>
      </h3>
      <div id="project_data" class="accordion-collapse collapse" aria-labelledby="data_headline" data-bs-parent="#project_data_accordion">
        <div class="accordion-body">
              <p><b>Текущий статус: </b>{{project.statuses.last.get_status_display}} (<a href="{% url 'status_change' project.id%}">сменить</a>)</p>
              <p><b>Рабочее наименование: </b>{{project.name}} (<a href="{% url 'project_update' project.id %}">обновить данные</a>)</p>
              <p><b>Полное наименование: </b>{{project.full_name}}</p>
              <p><b>Сумма гранта: </b>{{project.grant|my_thousand_separator}}</p>
              <p><b>Бюджет проекта: </b>{{project.full_cost|my_thousand_separator}}</p>
              <p><b>Срок реализации: </b>{{project.start_date}} - {{project.end_date}}</p>
              {% if project.company.id %}
              <p><b>Заявитель: </b><a href="{% url 'company_details' project.company.id %}">{{project.company.short_name}}</a></p>
              {% else %}
              <p><b>Заявитель: </b>Не определен</p>
              {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="accordion" id="project_description_accordion">
    <div class="accordion-item">
      <h3 class="accordion-header" id="description_headline">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#project_description" aria-expanded="false" aria-controls="project_description">
          <b class="fs-5">Краткое описание: </b>
        </button>
      </h3>
      <div id="project_description" class="accordion-collapse collapse" aria-labelledby="description_headline" data-bs-parent="#project_description_accordion">
        <div class="accordion-body">
          <p>{{project.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container d-flex my-3">
  <div class="container d-flex flex-column border py-2">
    <h5><a href="{% url 'project_summary_update' project.id %}">Текущий статус:<a></h5>
    <p>{{project.summary}}</p>
  </div>
</div>
<div class="container d-flex my-3">
  <div class="container d-flex flex-column border py-2">
    <h5>Тeги:</h5>
    <div class="d-flex flex-row flex-wrap">
        {% for tag in project.tags.all %}
          {% if forloop.counter == project.tags.all|length %}
          <span class="me-2">{{tag}}</span><a href="{% url 'project_tag_list' project.id %}"><i class="ms-1 bi bi-plus-square-dotted"></i></a>
          {% else %}
          <a href="#" class="text-black text-decoration-none me-2">{{tag}}, </span>
          {% endif %}
        {% empty %}
          <a href="{% url 'project_tag_list' project.id  %}"><i class="text-success fs-4 bi bi-plus"></i></a>
        {% endfor %}
    </div>
  </div>
</div>
<div class="container d-flex my-3">
  <div class="p-2 me-auto fs-5">Список событий:</div>
  <a class="btn btn-primary fs-5 p-2" href="{% url 'event_small_add' project.id %}">Новое событие</a>
  <a class="btn btn-outline-success ms-3 fs-5 p-2" href="{% url 'project_event_history' project.id %}">Отчет</a>
</div>
<div class="container my-4">
  <div class="d-flex flex-column flex-lg-row justify-content-md-between">
    <div class="accordion col-xl-9 " id="event_list_accordion">
      <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="event_list_headline">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#event_list" aria-expanded="true" aria-controls="event_list">
            <strong>Список событий</strong>
          </button>
        </h2>
        <div id="event_list" class="accordion-collapse collapse show" aria-labelledby="event_list_headline" data-bs-parent="#event_list_accordion">
          <div class="accordion-body">
              {% for event in events %}
                <div class="container d-flex flex-row my-2">
                  <div class="align-self-end"> {{ event.date }} - <a href="{% url 'event_details' event.id %}">{{ event.get_category_display }}</a></div>
                  <button type="button" class="btn btn-outline-dark btn-sm ms-3 d-none d-sm-block" data-bs-toggle="collapse" data-bs-target="#result_{{event.pk}}" aria-expanded="false">
                    итоги
                  </button>
                {% if event.tasks.all|length == 0 %}
                <a class="d-none d-sm-block" href="{% url 'event_task_add' event.id %}"><button type="button" class="btn btn-outline-secondary btn-sm ms-3">добавить задачу</button></a>
                {% else %}
                {% if event in incomplete_events %}
                <a class="d-none d-sm-block" href="{% url 'event_details' event.id %}"><button type="button" class="btn btn-outline-danger btn-sm ms-3">задачи</button></a>
                {% else %}
                <a class="d-none d-sm-block" href="{% url 'event_details' event.id %}"><button type="button" class="btn btn-outline-success btn-sm ms-3">задачи</button></a>
                {% endif %}
                {% endif %}
                </div>
                {% if forloop.first %}
                  <div id="result_{{event.pk}}" class="container collapse-show my-2">
                {% else %}
                  <div id="result_{{event.pk}}" class="container collapse my-2">
                {% endif %}
                {% if event.result %}
                  {{event.result}}
                  <p class="mt-2">Трудились: {% for task in event.tasks.all %} {{task.doer}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                {% else %}
                  <a class="link-secondary" href="{% url 'event_result_add' event.id %}">Добавить итог</a>
                {% endif %}
                </div>
              {% empty %}
                <p>Список пуст</p>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="d-inline-flex align-self-start">  
      <form class="border border-2 p-2 rounded" method='POST'>
      {% csrf_token %}
      {{form|crispy}}
      <input class="btn btn-sm btn-outline-info mt-3" type='submit' value='Сохранить'>
      </form>
    </div>
  </div>
{% endblock %}
