{% extends 'base.html' %}

{% block title %}Задача{% endblock %}
{% block content %}
<h2>Задача {{task.name}}.</h2>
{% if task.statuses.last.status == 'NEW' %}
  <a href="{% url 'task_status_change' task.id %}"><button class="btn btn-danger my-3">{{task.statuses.last.get_status_display}}</button></a>
{% elif task.statuses.last.status == 'PROGRESS' %}
  <a href="{% url 'task_status_change' task.id %}"><button class="btn btn-warning my-3">{{task.statuses.last.get_status_display}}</button></a>
{% else %}
  <a href="{% url 'task_status_change' task.id %}"><button class="btn btn-success my-3">{{task.statuses.last.get_status_display}}</button></a>
{% endif %}
<div class="fs-5">
  <p><b>Событие:</b><a href="{% url 'event_details' task.event.id %}"> {{task.event.get_category_display}}</a></p>
  <p><b>Срок выполнения:</b> {{task.end_date}}</p>
  <p><b>Ответственный:</b> {{task.doer}}</p>
  <p><b>Описание:</b> {{task.description}}</p>
</div>
{% endblock %}
