{% extends 'base.html' %}
{% block title %}Список траншей{% endblock %}
{% block content %}
<div class="container w-80">
  <h3 class="text-center my-3">Список переводов</h3>
  <div class="container text-center">
    <a class="btn btn-success my-3" href="{% url 'new_transh' %}">Новый транш</a>
  <div class="container">
      <table class="table table-hover teble-sm">
        <thead>
          <tr>
            <th scope="col">Плательщик</th>
            <th scope="col">Получатель</th>
            <th scope="col" class="d-none d-md-table-cell">Расход</th>
            <th scope="col" class="d-none d-md-table-cell">Дата</th>
            <th scope="col">Сумма</th>
            <th scope="col">Действие</th>
          </tr>
        </thead>
        <tbody>
        {% for transh in page_object %} 
        <tr>
          <td>{{transh.payer.name}}</td> 
          <td>{{transh.receiver.name}}</td> 
          <td class="d-none d-md-table-cell">{{transh.expense.name}}</td> 
          <td class="d-none d-md-table-cell"><a class="text-reset" href="{% url 'transhes_on_date' transh.date.day transh.date.month transh.date.year %}">{{transh.date}}</a></td> 
          <td>{{transh.charge}}</td> 
          <td class="decoration-none"><a class="text-reset" href="{% url 'new_transh' %}?transh_id={{transh.id}}">скопировать</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="container text-center">
        <span class="step-links">
          {% if page_object.has_previous %}
            <a class="text-reset" href="?page=1"><<</a>
            <a class="text-reset" href="?page={{page_object.previous_page_number}}"><</a>
          {% endif %}
        <span class="current">
          {{ page_object.number }}
        </span>
        <span class="step-links">
          {% if page_object.has_next %}
            <a class="text-reset" href="?page={{page_object.next_page_number}}">></a>
            <a class="text-reset" href="?page={{page_object.paginator.num_pages}}">>></a>
          {% endif %}
      </div>
  </div>
</div>
{% endblock %}
