{% extends 'base.html' %}
{% block title %} 
    Список долгов
{% endblock %}
{% block content %}
<div class="container">
  <h3 class="text-center">Список контрактов</h3>
    <div class="d-flex">
     <div class="flex-grow-1 m-2 text-center">
      {% for contract in contracts %}
      {{ contract }}
      {% empty %}
      <h5>Нет контрактов</h5>
      {% endfor %}
    </div>
      <a class="btn btn-outline-primary align-self-start" href="{% url 'contract_add' %}">Добавить</a>
    </div>
</div>
{% endblock %}
