{% extends 'base.html' %}
{% block title %} 
    Список тарифов
{% endblock %}
{% block content %}
<div class="container">
  <h3 class="text-center">Список тарифов</h3>
    <div class="d-flex">
     <div class="flex-grow-1 m-2 text-center">
      {% for term in terms %}
      <p>{{ term }}</p>
      {% empty %}
      <h5>Нет тарифов</h5>
      {% endfor %}
    </div>
      <a class="btn btn-outline-primary align-self-start" href="{% url 'terms_add' %}">Добавить</a>
    </div>
</div>
{% endblock %}
